# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\nguyenhuybinh2604.github.io\java\bai-11-register\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
