* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff;
}

a {
    display: inline-block;
    text-decoration: none;
    color: gray;
}

p:hover,
h1:hover,
h2:hover,
h3:hover {
    cursor: default;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container:nth-child(3) {
    flex: 1;
}

#top-header {
    font-size: 5em;
    font-weight: lighter;
}

#top-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
}

#top-menu li {
    display: flex;
    justify-content: center;
    width: 80px;
}

#top-menu li:nth-child(3) {
    width: 100px;
}

#top-menu li a {
    text-transform: uppercase;
    transition: 0.2s;
}

#top-menu li:hover a {
    color: black;
    font-weight: bolder;
}

#top-menu .is-active {
    color: black;
    font-weight: bolder;
}

.content {
    min-width: 1000px;
    max-width: 1000px;
    display: flex;
    padding-top: 2em;
    border-top: 1px solid rgb(200, 200, 200);
}

.content .left {
    width: calc(100%*2/3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.content .right {
    width: calc(100%*1/3);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 20px;
}

#side-menu {
    list-style: none;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#side-menu li {
    position: relative;
    align-items: center;
    border-top: 1px solid rgb(200, 200, 200);
}

#side-menu li a {
    height: 50px;
    line-height: 50px;
    transition: 0.2s;
}

#side-menu li span {
    position: absolute;
    right: 0px;
    height: 50px;
    line-height: 50px;
    color: #1778f2;
    transition: 0.2s;
}

#side-menu li:hover span {
    font-weight: bolder;
}

#side-menu li:hover {
    cursor: pointer;
}

#side-menu li:hover a {
    color: black;
    font-weight: bolder;
}

#side-menu li:first-of-type {
    border-top: none;
    font-weight: bolder;
}

#side-menu li:nth-child(2) {
    padding-top: 25px;
    border-color: black;
}

#side-menu li:first-of-type a {
    color: black;
    line-height: 100%;
}

#side-menu li:first-of-type:hover {
    cursor: default;
}

#side-menu li:first-of-type:hover a {
    color: black;
    cursor: default;
}

#top-header {
    font-size: 5em;
    font-weight: lighter;
}

#bottom-banner {
    margin-top: 25px;
    background: black;
    color: #fff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}